requests
python-dotenv
google-cloud-storage
fastapi
pydantic[email]
uvicorn
openai
google-generativeai
google-cloud-aiplatform
langchain==0.3.27
langchain-core==0.3.79
langchain-groq==0.3.8
langchain-text-splitters==0.3.11
groq==0.33.0
xhtml2pdf==0.2.17